<div class='pure-u-1 edit-section'>
  <form class='pure-form pure-form-aligned'>
    <fieldset>
      <legend>{{title}}</legend>

      {{#each content.changes as |change|}}
        {{preview-change change=change}}
      {{/each}}
    </fieldset>
  </form>
</div>
