html, body, .ember-application > .ember-view {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000425;
}

.leh-sidebar {
  position: relative;
  background-color: #efdad4;
  height: 100%;

  h1 {
    padding-left: 8px;
  }

  ul {
    padding-left: 8px;

    .pure-menu-link:hover,
    .pure-menu-link.active {
      background-color: #f6eae7;
    }
  }
}

.leh-body {
  height: 100%;
  background-color: #f6eae7;
}

.leh-narwin {
  position: absolute;
  bottom: 12px;
  left: 50px;

  img {
    vertical-align: middle;
    height: 44px;
    width: 48px;
  }

  .dockyard {
    color: #000425;
    line-height: 48px;
    text-transform: uppercase;
    vertical-align: middle;
  }
}

.edit-section {
  margin-top: 40px;
  margin-left: 20px;
}

.pure-control-group {
  .value {
    display: inline-block;
    padding: 0.5em 0.6em;
    vertical-align: middle;
    box-sizing: border-box;
  }
}