{{preview-object title='Model' content=content.user}}
<div class='pure-u-1 edit-section'>
  <button class='button-small button-primary pure-button' {{action 'merge'}}>Merge</button>
</div>
{{edit-object title='Edit First Changeset' content=content.firstChangeset}}
{{edit-object title='Edit Second Changeset' content=content.secondChangeset}}
